@{
    ViewData["Title"] = "About";
}
<h2 class="text-white" >@ViewData["Title"]</h2>
<h3 class="text-white" >@ViewData["Message"]</h3>

<p class="text-white" >Use this area to provide additional information.</p>
